.type-17 {
  background-image: url("../images/modun103.jpg");
  height: 150px;
  margin-bottom: 60px;
  border-bottom: 1px solid #eeeeee;
}
.type-17 .herder .title {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 60px;
  font-size: 26px;
}
.type-17 .herder .b-breadcrumbs ul li {
  float: none;
  display: inline-block;
  color: #888888;
}
.type-17 .herder .b-breadcrumbs ul li a {
  display: inline-block;
  vertical-align: middle;
  color: #444444;
  text-transform: uppercase;
  padding-bottom: 0;
  position: relative;
}
.type-17 .herder .pull-right {
  margin: 58px 0;
}
@media screen and (max-width: 480px) {
  .type-17 .herder .title {
    font-size: 16px;
  }
}
.type-17 .show-on-hover:hover > ul.dropdown-menu {
  display: block;
}
.type-17 .dropdown-menu a {
  width: 100% !important;
}
.type-17 .dropdown-menu a:hover {
  background: #2F2F2F !important;
  color: #fff !important;
}
.type-17 .affix {
  top: 0;
  width: 50%;
  background: rgba(236,223,223,0.1) !important;
}
.type-17 .affix .brand {
  color: #000;
}
.type-17 .affix + .container-fluid {
  padding-top: 70px;
}
.type-17 .navbar {
  margin-bottom: 0px !important;
  z-index: 999;
  margin-bottom: -5px !important;
}
.type-17 .navbar {
  border: none;
  border-radius: 0;
  background-color: rgba(236,223,223,0.1);
  margin-top: 45px;
}
.type-17 .brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
  top: 20px;
}
.type-17 .navbar-inverse .navbar-nav>li>a {
  color: #222;
}
.type-17 .navbar-inverse .navbar-nav>li>a:hover {
  color: #222;
  background: none;
}
.type-17 .mega-dropdown {
  position: static !important;
}
.type-17 .mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.type-17 .mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.type-17 .mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.type-17 .mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.type-17 .mega-dropdown-menu > li ul > li > a:hover,
.type-17 .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.type-17 .mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
