.type-1007{
    background-image:url("../images/modun103.jpg");
    height: 150px;
    margin-bottom: 60px;
    border-bottom: 1px solid #eeeeee;
    .herder{
        .title{
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 60px;
            font-size: 26px;
        }
        .b-breadcrumbs ul li{
            float: none;
            display: inline-block;
            color: #888888;
            a{
                display: inline-block;
                vertical-align: middle;
                color: #444444;
                text-transform: uppercase;
                padding-bottom: 0;
                position: relative;
            }
        }
        .pull-right{
            margin: 58px 0;
        }
    }
    @media screen and (max-width: 480px) {
        .herder .title{
            font-size: 16px;
        }
    }
    .show-on-hover:hover > ul.dropdown-menu {
        display: block;    
    }
    .dropdown-menu a{
        width:100% !important;
    }
    .dropdown-menu a:hover{
        background:#2F2F2F !important;
        color:#fff !important;
    }
    .affix {
        top: 0;
        width: 50%;
        background: rgba(236, 223, 223, 0.1) !important;
        .brand{
            color:#000;
        }
    }

    .affix + .container-fluid {
        padding-top: 70px;
    }
    .navbar{
        margin-bottom: 0px !important;
        z-index:999;
        margin-bottom: -5px !important;
    }
        .navbar{
        border: none;
        border-radius: 0;
        background-color: rgba(236, 223, 223, 0.1);
        margin-top: 45px;
    }
    .brand {
        position: absolute;
        left: 50%;
        margin-left: -50px !important;  /* 50% of your logo width */
        display: block;
        top:20px;
    }
    .navbar-inverse .navbar-nav>li>a {
        color:#222;
    }
    .navbar-inverse .navbar-nav>li>a:hover {
        color:#222;
        background: none;
    }
    .mega-dropdown {
        position: static !important;
    }
    .mega-dropdown-menu {
        padding: 20px 0px;
        width: 100%;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 0;
    }
    .mega-dropdown-menu > li > ul > li {
        list-style: none;
    }
    .mega-dropdown-menu > li > ul > li > a {
        display: block;
        color: #222;
        padding: 3px 5px;
    }
    .mega-dropdown-menu > li ul > li > a:hover,
        .mega-dropdown-menu > li ul > li > a:focus {
        text-decoration: none;
    }
    .mega-dropdown-menu .dropdown-header {
        font-size: 18px;
        color: #ff3546;
        padding: 5px 60px 5px 5px;
        line-height: 30px;
    }
}